*
{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: rgb(167, 228, 167);
 
}
.navbar-brand
{
    font-style: italic;
    color: black;
    font-weight:bolder;
    font-size: xx-large;
    text-decoration: underline;
 
}
.navbar-brand:hover
{
   color:rgb(248,26,92)
}
.nav-link
{
    color: black;
    margin-left:30;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
}
.logoimg
{
    height: 70px;
    width: 150px;
}
.form-control
{
    /* border-radius: 70px; */
    margin-right: -40px;
  
} 
.btn
{
    border-radius: 70px ;
    width: 100px;
}
.dropdown-item
{
    font-weight:bold;
    font-size: small;
}
.dropdown-item:hover
{
  color:blue;
}
.cardnamecolor
{
    color: rgb(63, 63, 153);
}
#cardindeximg{
    transition: transform .1s;
} 
 #cardindex
{
    transition: transform .1s;
}
#cardindex:hover
{
    box-shadow: 2px 2px 10px green; 
    cursor: pointer;
    
}
#cardindeximg:hover
{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
      
}
.contact:hover
{
    color: green;
}
#homenext
{
   font-weight: bold;
   font-size: large;
}
.img-fluid
{
    height: 500px;
    width: 100%;
}
.infofont
{
    text-align: justify; font-weight:bold;font-size:medium; color: gray;
}

/* ************contact Us Page*************** */

#contactcol
{
   height: 430px;
   width: 100%;
  box-shadow:1px 1px 8px rgb(223, 219, 219);
}
#enquirytext
{
    border: none;
    background-color: rgb(248, 248, 248); ;
}
.col-lg-11
{
    text-align: justify;
    font-weight: bold;
}
/* ***************card**************** */
.card:hover
{
    box-shadow: 2px 2px 10px green; 
    cursor: pointer;
}
.card-link
{
    text-align: justify;
}
/* *************organic rice price***************** */
.priceoldnew
{
    font-size:small ;
    color:gray;
    text-align: justify;
}
